.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.form_container{
    margin: 5px;
    width: 600px;
    height:85vh;
    background-color: white;
    border-radius: 5px;
}

header{
    background-color: #2f3676;
    height: 140px;
    border-radius: 0px 0px 80px 80px
}

.titlepage{
    padding: 30px;
    font-size: 15px;
    color: #fff;
    
}

.titlepage span{
    font-weight: bold;
    font-size: 20px;
}

.adesivos{
    margin-top: 15px;
}


.btnvoltar{
    display: flex;
    justify-content: center;
    align-self: center;
}

